<h1>The Number 1 Bakery in PA!</h1>

<div class="photo">
  <img src="http://i66.tinypic.com/331m0l0.jpg" width="200" height="200">
</div>

<h3>Menu</h3>

<div class="header">
  <ul>
    <li>Frosted Creamcheese Cupcake $2.99 each</li>
    <li>Pumpkin Spice Cupcake $2.99 each</li>
    <li>Caramel Brulee Cupcake $2.99 each</li>
  </ul>
</div>


